body {
    background-color: rgb(0, 0, 0);
    color: darkred;
    font-family: href="https://kinsta.com/pt/blog/fontes-seguras-na-web/#3-bodoni-mt--bodoni-72"
        text-align: center;
}

header {
    border-botton: solid 10px darkred;


}