body {
     background-color: rgb(0, 0, 0);
     color: rgba(198, 0, 0, 0.812);
     font-family: 'Times New Roman', Times, serif;
     font-style: italic;
     text-align: center;
}

header {
    border-botton: solid 10px;


}