body {
     background-color: rgb(0, 0, 0);
     color: rgba(198, 0, 0, 0.812);
     font-family: 'Times New Roman', Times, serif;
     font-style: italic;
     text-align: center;
     border-width: 560;
     border-radius: 315;
     border-color: antiquewhite;
}